.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1px;
  text-align: center;
}

.bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
}

.App-header {
  position: relative;
  z-index: 1;
}

.App-title {
  margin: 15vh 0 8vh;
}

.App-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
}

.App-container::after,
.App-container::before {
  position: absolute;
  left: -2%;
  width: 104%;
  height: 1px;
  content: '';
  border-top: 1px solid #000;
}

.App-container::before {
  top: 2vh;
}
.App-container::after {
  bottom: 2vh;
}

.App-container-item {
  padding: 4vh 0;
  width: 25%;
  height: 30vh;
  display: inline-block;
  border-left: 1px solid #000;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
}

.box {
  margin: 10px 20px;
  padding: 10px;
  height: 22vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.App-container-item h3 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.App-container-item:nth-child(4n) {
  border-right: 1px solid #000;
}

.App-container-item:nth-child(-n + 4) {
  border-bottom: 1px solid #000;
}

.App-container-item:nth-child(n + 5) .box {
  margin-top: -20px;
}

.js {
  background-color: #F8DB03;
}

.css {
  background-color: #F7A000;
}

.react {
  background-color: #5DD4F4;
}

.browser {
  background-color: #48A947;
}

.new {
  background-color: #F8DB03;
}

.http {
  background-color: #DE5A49;
}

.webpack {
  background-color: #1A74BA;
}

.agl {
  background-color: #DC5044;
}